.card {
    margin: 20px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
}
img{
    margin-top: 10px;
    align-self: center;
    width: 95%;
}
.row {
    margin:auto;
    max-width: 1000px;
}

body {
    background-image: url("../bg4.jpg");
}

h1 {
    margin:auto;
    max-width: 950px;
    color: rgb(246, 246, 246);
    text-align-last: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

h5{
    text-align: center;
    color: white;
    font-family: monospace;
}
