.card {
    margin: 20px;   
}


.row {
    margin:auto;
    max-width: 1000px;
}

body {
    background-color: #f0131e;
}

h1 {
    margin:auto;
    max-width: 950px;
    color: rgb(246, 246, 246);
}